{% extends 'base.html.twig' %}
    
{% block body %}    
    <h1>Latest activities added to the Bucket List</h1>
    <section class="wish-list">
        {% for wish in wishes %}
        <article class="wish-articles">
            <div>
                <h2><a href="{{ path('list_details', {'id': wish.id }) }}">{{ wish.title }}</a></h2>
                <h6>Date published: {{ wish.dateCreated | date('d-m-Y') }}</h6>
            </div>
        </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | Home    
{% endblock %}