{% extends 'base.html.twig' %}

{% block body %}    
    <div>
        {% for wish in wishes %}
            <article class="wish">
                <div>
                    <h1>{{ wish.title }}</h1>
                    <h4>Created by: {{ wish.author }}</h4>
                    <h6>Published on: {{ wish.dateCreated | date('d-m-Y') }}</h6>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | All wishes    
{% endblock %}