<nav>
    <ul>
        <li><a href="{{ path('main_home')}}" title="Home">Home</a></li>
        <li><a href="{{ path('about_us')}}" title="About Us">About Us</a></li>
        <li><a href="{{ path('wish_list') }}" title="Wish List">All Wishes</a></li>
        <li><a href="#" title="">Contact</a></li>
    </ul>
</nav>