<nav>
    <ul>
        <li><a href="{{ path('main_home')}}" title="">Home</a></li>
        <li><a href="#" title="">Done</a></li>
        <li><a href="#" title="">New</a></li>
        <li><a href="#" title="">Contact</a></li>
    </ul>
</nav>